<div class="wrapper">
    <form action="" method="post">
        <section class="form__design">
            <h2 class="form__design__title">
                <i class="far fa-object-ungroup icon"></i>
                diseña
                <a href="#"><i class="arrow-up fas fa-angle-down"></i></a>
                <a href="#"><i class="arrow-down fas fa-angle-up"></i></a>
            </h2>
            <div class="colors-container">
                <span class="form__design__subtitle">colores</span>
                <div class="styles">
                    <div class="form__design__style1">
                        <label class="style1">
                            <div class="option">
                                <input id="style1" type="radio" value="green" name="style" required>
                            </div>
                            <div class="colors">
                                <div class="square one"></div>
                                <div class="square two"></div>
                                <div class="square three"></div>
                            </div>
                        </label>
                    </div>
                    <div class="form__design__style2">
                        <label class="style2">
                            <div class="option">
                                <input id="style2" type="radio" value="red" name="style" required />
                            </div>
                            <div class="colors">
                                <div class="square one"></div>
                                <div class="square two"></div>
                                <div class="square three"></div>
                            </div>
                        </label>
                    </div>
                    <div class="form__design__style3">
                        <label class="style3">
                            <div class="option">
                                <input id="style3" type="radio" value="colorMix" name="style" required />
                            </div>
                            <div class="colors">
                                <div class="square one"></div>
                                <div class="square two"></div>
                                <div class="square three"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section class="form__section">
            <div class="form__section__signup">
                <label for="first-name"> Nombre Completo</label>
                <input placeholder="Ej: Merche Lios" id="first-name" type="text" name="first-name" required />
                <label for="puesto">Puesto</label>
                <input placeholder="Ej:front-end" id="puesto" type="text" name="puesto" required />
                <label for="image"> Imagen de perfil</label>
                <input id="image" type="image" name="image" required />
                <label for="email">Email</label>
                <input placeholder="Ej:merche@gmail.com" id="email" type="email" name="email" required />
                <label for="phone-number">Teléfono</label>
                <input placeholder="Ej:779744561" id="phone-number" type="tel" name="phone-number" />
                <label for="linkedin">Linkedin</label>
                <input placeholder="Ej:linkedin.com/merche" id="linkedin" type="text" name="linkedin" />
                <label for="github">Github</label>
                <input class="github" placeholder="Ej:@merchelios" id="github" type="text" name="github" />
            </div>
        </section>
        <section class="form__share">
            <h2 class="form__share__title">
                <i class="fa fa-share-alt icon"></i>
                comparte
                <a href="#"><i class="arrow-up fas fa-angle-down"></i></a>
                <a href="#"><i class="arrow-down fas fa-angle-up"></i></a>
            </h2>
            <div class="form__share__button">
                <i class="far fa-address-card"></i>
                <button href="#">crear tarjeta</button>
            </div>
        </section>
    </form>
</div>