<div class="wrapper">
    <form action="" method="post">
        <section class="form__design">
            <h2 class="form__design--title">
                <i class="far fa-object-ungroup icon"></i>
                diseña
                <a href="#"><i class="arrow-up fas fa-angle-down"></i></a>
                <a href="#"><i class="arrow-down fas fa-angle-up"></i></a>
            </h2>
            <span class="form__design--subtitle">colores</span>
            <div class="form__design--style1">
                <label>
                    <input id="style1" type="radio" value="green" name="style" />
                    <div class="square one"></div>
                    <div class="square two"></div>
                    <div class="square three"></div>
                </label>
            </div>
            <div class="form__design--style2">
                <label>
                    <input id="style2" type="radio" value="red" name="style" />
                    <div class="square one"></div>
                    <div class="square two"></div>
                    <div class="square three"></div>
                </label>
            </div>
            <div class="form__design--style3">
                <label>
                    <input id="style3" type="radio" value="colorMix" name="style" />
                    <div class="square one"></div>
                    <div class="square two"></div>
                    <div class="square three"></div>
                </label>
            </div>
        </section>
        <section class="form__share">
            <h2 class="form__share--title">
                <i class="fa fa-share-alt icon"></i>
                comparte
                <a href="#"><i class="arrow-up fas fa-angle-down"></i></a>
                <a href="#"><i class="arrow-down fas fa-angle-up"></i></a>
            </h2>
            <div class="form__share--button">
                <i class="far fa-address-card"></i>
                <a href="#">crear tarjeta</a>
            </div>
        </section>
    </form>
</div>
