<section class="form">
  <div class="wrapper">
    <form class="js-form" action="" method="post">
      <section class="form__design">
        <h2 class="form__design__title">
          <i class="far fa-object-ungroup icon"></i>
          diseña
          <div class="click">
            <button><i class="fas fa-moon moonicondown"></i></button>
            <button><i class="fas fa-moon hidden mooniconup"></i></button>
          </div>
        </h2>
        <div class="colors-container">
          <span class="form__design__subtitle">colores</span>
          <div class="styles">
            <div class="form__design__style1">
              <label class="style-blue">
                <div class="option">
                  <input
                    id="style1"
                    type="radio"
                    value="green"
                    name="style"
                    class="js-input-blue"
                    required
                    checked
                  />
                </div>
                <div class="colors">
                  <div class="square one"></div>
                  <div class="square two"></div>
                  <div class="square three"></div>
                </div>
              </label>
            </div>
            <div class="form__design__style2">
              <label class="style-red">
                <div class="option">
                  <input
                    id="style2"
                    type="radio"
                    value="red"
                    name="style"
                    class="js-input-red"
                    required
                  />
                </div>
                <div class="colors">
                  <div class="square one"></div>
                  <div class="square two"></div>
                  <div class="square three"></div>
                </div>
              </label>
            </div>
            <div class="form__design__style3">
              <label class="style-yellow">
                <div class="option">
                  <input
                    id="style3"
                    type="radio"
                    value="colorMix"
                    name="style"
                    class="js-input-yellow"
                    required
                  />
                </div>
                <div class="colors">
                  <div class="square one"></div>
                  <div class="square two"></div>
                  <div class="square three"></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </section>
      <section class="form__section">
        <h2 class="form__section__title">
          <i class="far fa-keyboard"></i>
          rellena
          <div class="click2">
              <button><i class="fas fa-moon moonicondown2"></i></button>
              <button><i class="fas fa-moon hidden mooniconup2"></i></button>
            </div>
        </h2>
        <div class="form__section__signup">
          <label for="first-name"> Nombre Completo</label>
          <span class="asterisk">*</span>
          <input
            class="js-name"
            placeholder="Ej: Merche Lios"
            id="first-name"
            type="text"
            name="first-name"
            maxlength="19"
            required
          />
          <label for="puesto">Puesto</label>
          <span class="asterisk">*</span>
          <input
            class="js-job"
            placeholder="Ej: Front-end"
            id="puesto"
            type="text"
            name="puesto"
            maxlength="19"
            required
          />
          <label for="image">Imagen de perfil</label>
          <div class="image-wrapper">
            <div class="action">
              <button
                class="btn-img action__upload-btn js__profile-trigger"
                href="#"
              >
                Añadir imagen
              </button>
              <input
                class="action__hiddenField js__profile-upload-btn"
                id="image"
                type="file"
              />
            </div>

            <div class="profile">
              <div class="profile__preview js__profile-preview"></div>
            </div>
          </div>
          <label for="email">Email</label>
          <span class="asterisk">*</span>
          <input
            class="js-email"
            placeholder="Ej: merche@gmail.com"
            id="email"
            type="email"
            name="email"
            required
          />
          <label for="phone-number">Teléfono</label>
          <input
            class="js-phone"
            placeholder="Ej: 779744561"
            id="phone-number"
            type="tel"
            name="phone-number"
          />
          <label for="linkedin">Linkedin</label>
          <input
            class="js-linkedin"
            placeholder="Ej: @merche"
            id="linkedin"
            type="text"
            name="linkedin"
          />
          <label for="github">Github</label>
          <input
            class="js-github github"
            placeholder="Ej: @merchelios"
            id="github"
            type="text"
            name="github"
          />
        </div>
      </section>
      <section class="form__share">
        <h2 class="form__share__title">
          <i class="fa fa-share-alt icon"></i>
          comparte
          <div class="click3">
            <button><i class="fas fa-moon moonicondown3"></i></button>
            <button><i class="fas fa-moon hidden mooniconup3"></i></button>
          </div>
        </h2>
        <div class="form__share__button active">
          <i class="far fa-address-card"></i>
          <button class="js-share share">crear tarjeta</button>
        </div>
        <div class="js-twitter twitter hidden">
          <p class="js-twiter-paragraph twitter-paragraph">
            ✨ Aquí tienes tu tarjeta de visita Sailor Code ✨
          </p>
          <p class="js-twitter-url twitter-url response">
            https://twitter.com/login
          </p>
          <a
            class="twitter-share-button"
            href="https://twitter.com/intent/tweet"
          >
            <button class="js-twitter-button twitter-button">
              <a class="twitter-link">
                <i class="fab fa-twitter"></i>
                Compartir en twitter
              </a>
            </button>
          </a>
        </div>
      </section>
    </form>
  </div>
</section>
