<div class="front wrapper">
  <section class="front__text">
    <h1 class="front__text__title">Crea tu tarjeta de visita</h1>
    <p>
      <span>Crea mejores contactos profesionales de</span>
      <span>forma fácil y cómoda</span>
    </p>
  </section>

  <section class="front__icons">
    <article class="front__icons__design">
      <i class="fa fa-object-ungroup landing--list__icon"></i>
      <p>Diseña</p>
    </article>
    <article class="front__icons__fillin">
      <i class="fa fa-keyboard-o" aria-hidden="true"></i>
      <p>Rellena</p>
    </article>

    <article class="front__icons__share">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <p>Comparte</p>
    </article>
  </section>
  <div class="front__button">
    <a href="#">Comenzar</a>
  </div>
</div>
