// fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-tertiary: "Merriweather", serif;

$defaultFontSize: 16;

// colors
$color-dark: #000000;
$color-light: #ffffff;
$color-secondary-light: #f9f4dc;
$color-primary-dark: #114e4e;
$color-primary-medium: #438792;
$color-primary-light: #a2deaf;
$color-accenture: #e17334;
$color-small: #6b6b6b;
$color-light-dark: #54585a;