//colores js//

/*.one {
  background-color: $color-primary-dark;
}
.two {
  background-color: $color-primary-medium;
}
.three {
  background-color: $color-primary-light;
}*/

/*aplica a const styleRed*/
.light-red{
    border: 2px solid #e95626;
}  

.dark-red{
    color: #420101;
}

.medium-red{
    background-color: #bd1010; 
} 



/*aplica a const styleYellow*/