//colores js//

/*.one {
  background-color: $color-primary-dark;
}
.two {
  background-color: $color-primary-medium;
}
.three {
  background-color: $color-primary-light;
}*/

/*aplica a const styleRed*/
.light-red {
  border: 2px solid #e95626;
}

.dark-red {
  color: #420101;
}

.medium-red {
  background-color: #bd1010;
}

/*aplica a const styleYellow*/

.light-blue-2 {
  border: 2px solid #a0c0cf;
}

.dark-blue-2 {
  color: #3e5b65;
}

.medium-yellow {
  background-color: #eab052;
}

/*aplica a const styleBlue*/

.light-blue {
  border: solid 2px $color-primary-light;
}

.dark-blue {
  color: $color-primary-dark;
}

.medium-blue {
  background-color: $color-primary-medium;
}
