.page__footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright {
  margin-top: 18px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 14px;
  font-family: $font-primary;
  color: $color-small;
  text-transform: capitalize;
}
.footer--logo {
  display: block;
  margin-bottom: 20px;
  height: 40px;
  width: 103px;
}
.logoadalab {
  width: 100%;
}
@media all and (min-width: 768px) {
  .page__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
  }
  .copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer--logo {
    margin-bottom: 0px;
  }
}
