.wrapper {
    padding: 30px 20px;
    @include tablet {
        padding: 30px 40px;    
    }
}

.form__design{
    &--title {
        color: $color-light-dark;
        text-transform: uppercase;
        font-family: $font-primary;
        font-weight: 600;
        font-size: rem(18);
        .icon {
            width: 21px;
            height: 18px;
            color: $color-accenture;
            }
    }
    &--subtitle{
        color: $color-light-dark;
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: rem(14);
    }

    &--style1 {
        & .square {
            width: 30px;
            height: 25px;
            display: inline-block;
        }
        .one {
            background-color: $color-primary-dark;
        }
        .two {
            background-color: $color-primary-medium;
        }
        .three {
            background-color: $color-primary-light;
        }
    }
    
    &--style2 {
        & .square {
            width: 30px;
            height: 25px;
            display: inline-block;
        }
        .one {
            background-color: #420101;
        }
        .two {
            background-color: #bd1010;
        }
        .three {
            background-color: #e95626;
        }
    }
    
    &--style3 {
        & .square {
            width: 30px;
            height: 25px;
            display: inline-block;
        }
        .one {
            background-color: #3e5b65;
        }
        .two {
            background-color: #eab052;
        }
        .three {
            background-color: #a0c0cf;
        }
    }
}

.form_section {
    width: 320px;
    margin: auto;
   
    .signup {
     display: block;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     text-align: left;
     
        label { 
         width: 100%;
         height: 45px;
         padding-top: 15px;
         margin-top: 10px;
         display: block;
         text-align: left;
         font-family: $font-primary;
         color:$color-primary-dark;
        }

        input {
         margin-top:7px;
         margin-bottom: 10px;
         width: 100%;
         padding: 10px;
         display: block;
         text-align: left;
         border: 1px solid $color-primary-light;
         height: 45px;
         font-family: $font-primary;
         font-size: 14px;
         color: $color-form-light; 
        }
    }
}
.form__share{
    &--title {
        color: $color-light-dark;
        text-transform: uppercase;
        font-family: $font-primary;
        font-weight: 600;
        font-size: rem(18);
        .icon {
            width: 21px;
            height: 18px;
            color: $color-accenture;
        }
    }
    &--button{
        width: 199px;
        height: 50px;
        border-radius: 12px;
        text-align: center;
        padding: 13px 17px;
        background-color: $color-accenture;
        font-size: rem(18);
        color:$color-light;
        text-transform: uppercase;
        font-family: $font-primary;
        .logo {
            width: 25px;
            height: 22px;
            color: $color-light;
            text-align: center;
        }
    }
}        
