.main {
  height: 600px;
  overflow: hidden;
}

.front {
  background-color: $color-tertiary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 660px;

  @include tablet {
    min-height: 400px;
  }

  &__text {
    text-align: center;

    &__title {
      font-family: $font-tertiary;
      font-size: rem(24);
      color: $color-accenture;
    }

    & p {
      font-size: rem(12.8);
      color: $color-primary-dark;
      line-height: normal;

      @include tablet {
        font-size: rem(16);
      }

      & span {
        display: block;
      }
    }
  }
  &__icons {
    margin-top: 17.8px;
    width: 268px;
    height: 73.8px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
    border-radius: rem(4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    @include tablet {
      margin-top: 27px;
    }

    & p {
      font-size: rem(12.8);
      margin-left: 5px;
      color: $color-light-dark;
    }
    .far,
    .fa {
      margin-left: 5px;
      line-height: normal;
      color: $color-accenture;
    }
  }

  &__button {
    margin-top: 38.6px;
    margin-bottom: 30px;
    width: 129px;
    height: 42px;
    line-height: 21.5px;
    background-color: $color-primary-medium;
    color: $color-light;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    border-radius: rem(21);
    transition: background-color ease-in 0.5s;

    &:hover {
      animation: pulse 0.5s;
      animation-iteration-count: infinite;
      background-color: $color-accenture;
    }

    @include tablet {
      margin-top: 186px;
      margin-bottom: 59px;
    }
  }
}
