.header {
  &__logo {
    margin-top: 95px;
    margin-bottom: 35.4px;
    width: 250px;
    height: 63px;

    & img {
      width: 100%;
    }
  }

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
