/*Fondo general main*/
.page__main {
  background-color: $color-tertiary-light;
}

.imagen {
  width: 100%;
  height: 457px;
  background-color:$color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button-reset {
  padding-left: 10px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 30px;
  border: solid 1px white;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: $color-background;
}
.word-reset {
  font-family: $font-primary;
  font-size: 12px;
  text-transform: uppercase;
}
.img-button {
  width: 11px;
}

.card {
  width: 240px;
  height: 329px;
  background-color: white;
  box-shadow: 2px 2px 10px #666;
}
.card-top {
  padding-top: 23px;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
}
.square-color {
  width: 5px;
  height: 42px;
  margin-right: 15px;
  background-color: $color-primary-medium;
}
.title {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 18px;
  font-family: $font-secondary;
  text-transform: capitalize;
  font-weight: 700;
}
.role {
  font-size: 16px;
  font-family: $font-secondary;
  font-weight: 400;
}
.photo {
  width: 100%;
  height: 200px;
  background-color: yellowgreen;
  background: {
    image: url(../images/photo-prueba.svg);
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 54px;
}
.list-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
}
.list-icons li {
  display: block;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
  height: 32px;
  width: 32px;
  color: $color-primary-dark;
  border: solid 2px $color-primary-light;
  border-radius: 100%;
}
.list-icons li i {
  font-size: 20px;
}
