<<<<<<< HEAD
=======
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

>>>>>>> design
body {
  font-family: $font-primary;
}

.wrapper {
  width: 100%;
  margin: auto;
  max-width: 900px;
  position: relative;
}
